network = "Testnet" # OR Mainnet
rpc_url = "http://localhost:18232"
rpc_user = "user" # Can be RPC API-KEY
database_url = "postgres://localhost/zcash"
database_max_connections = 10
explorer_api = "https://explorer.testnet.z.cash/api"


# Relayer Configuration
[relayer]
hot_wallet_privkey = "privKey"
hot_wallet_address = "address"  # Relayer's funding address

# Relayer settings
max_tx_per_batch = 10
poll_interval_secs = 10
max_retry_attempts = 3
min_confirmations = 1

# Fee settings
network_fee_zec = "0.0001"